// Standardfärger
$white: #FFFFFB;
$darkestpurple:#210535;
$darkpurple: rgba(67, 13, 75, 0.75);
$purple:#7b337d;
$purplepink:#c874b2;
$light:#f5d5e0;


//Fonts
$anurati: 'Anurati';
$quicksand: 'Quicksand', sans-serif;


//Breakpoints
$mobile: 540px;

//Border
$border: 1px solid black;