
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    font-family: 'Gudea', sans-serif;
}
/* * {
  outline: solid 1px black;
} */


/* ------------------- Global ------------------- */
h1, h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
  font-family: 'Rancho', cursive;
  font-size: 54px;
}
h3 {
  margin: 0;
  font-size: 18px;
}
h4 {
  margin: 0;
  font-size: 16px;
}
.ratingDiv h4  {
  margin-bottom: 4px;
}
header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



#registerBtn,
#loginBtn {
  margin-top: 10px;
  padding: 2px 50px;
  width: 100%;
  background-color: var(--main-button-color);
  border: 1px solid var(--main-bg-darker-color);
  border-radius: 15px;
  font-family: 'Gudea', sans-serif;
  font-weight: 600;
  box-shadow: 0 0 2px 1px rgb(227, 224, 224);
}

#registerBtn:hover,
#loginBtn:hover {
  background-color: var(--main-button-hover);
}

.buttonImg {
  position: relative;
}
.buttonImg button {
  position: absolute;
  left: -7px;
  top: -10px;
  background-color: var(--main-bg-color);
  border-radius: 40%;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 18px;
}
.buttonImg button i {
  color: var(--main-bg-darker-color)
}
.buttonImg button:hover {
  box-shadow: 0 0 6px 1px var(--main-bg-hover-color);
  transform: scale(1.1);
}

.bookmarkBtn {
  position: relative;
}
.bookmarkBtn button {
  position: absolute;
  right: -17px;
  top: -10px;
  background-color: var(--main-bg-color);
  border-radius: 40%;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 3px 1px var(--main-bg-darker-color);
}
.bookmarkBtn button i {
  color: var(--main-bg-darker-color)
}
.bookmarkBtn button:hover {
  box-shadow: 0 0 6px 1px var(--main-bg-hover-color);
  transform: scale(1.1);
}



li {
    list-style: none;
}
.italicLi {
  font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
a {
    text-decoration: none;
    color: var(--main-text-color);
  } 



/* ------------------- SCROLLBAR INDEX ------------------- */

  .bookShelf::-webkit-scrollbar {
    width: 7px;
    height: 100%;
  }
  
  .bookShelf::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .bookShelf::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-darker-color);
    border-radius: 10px;
  }

  .bookShelf::-webkit-scrollbar-thumb:hover {
    background: var(--main-bg-hover-color); 
  }

/* ------------------- NAVBAR ------------------- */
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 125px;
    font-weight: 700;
  }
  .navbar ul {
    display: flex; 
        /* position: absolute;
    left: 0;
    top: 350px; */
  }
  .navbar li {
    list-style: none;
    margin: 5px;
}

  .navSpan i {
    margin-right: 5px;
    font-size: 18px;
  }
  
  /* ------------------- LOGIN/LOGOUT ------------------- */

.loginOrRegister {
    width: 20%;
    height: 300px;
    padding-inline-start: 50px;
    padding-top: 30px;
  }
.loginDiv {
  border: 2px solid var(--main-bg-color);
  border-radius: 10px;
  min-width: 200px;
}

.linkDiv {
  background-color: var(--main-bg-darker-color);
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--main-bg-hover-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.linkDiv span {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkDiv span:nth-child(1) {
  border-right: 2px solid var(--main-bg-hover-color)
}
.linkDiv span:nth-child(1):hover {
  background-color: var(--main-content-hover); 
  border-top-left-radius: 10px;
}
.linkDiv span:nth-child(2):hover {
  background-color: var(--main-content-hover); 
  border-top-right-radius: 10px;
}

.loginDiv input,
.registerDiv input,
.loginDiv label,
.registerDiv label,
.loginDiv button,
.registerDiv button  {
    margin-top: 5px;
    display: block;
  }
 .logout {
    display: flex;
 }
 .logout i {
    font-size: 18px;
    margin-left: 2px;
    align-self: center;
 }
 .logoutBtn {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Gudea', sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
 }
 .loginDiv div:not(.linkDiv) {
  display:none;
 }
 .loginDiv div:target {
  display: block;
 }
 
.login,
.registerDiv {
  margin: 10px;  
}

 .welcomeMessage {
  padding: 10px 0 0 30px;
 }
 .welcomeMessage p {
  margin: 0;
 }
 /* ------------------- MAIN-CONTENT index ------------------- */
 main {
  position: relative;
 }
 .main-content {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--main-content-bg);
  height: 75vh;
  border-radius: 40px;
  box-shadow: 0 0 30px 1px var(--main-content-shadow-color);
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
 }

.welcome-content {
  background-color: var(--main-content-bg);
  display: flex;
  flex-direction: row;
  height: 300px;
  border-bottom: 2px double var(--main-bg-darker-color);
}
 .bookDisplay {
  display: flex;
  flex-direction: column;
 }

 .highestRatedBooks {
  width: 80%;
 }
 .heading {
  text-align: center;
  padding: 20px;
 }
 .heading h2 {
  color: var(--main-bg-darker-color);
  /* text-shadow: var(--main-content-shadow-color) 1px 0 10px; */
  text-shadow: -1px 0 rgba(0, 0, 0, 0.515), 0 1px rgba(0, 0, 0, 0.418), 1px 0 rgba(0, 0, 0, 0.44), 0 -1px rgba(0, 0, 0, 0.48);
  font-family: 'Rancho', cursive;
  font-size: 40px;
 }

 .bookShelf {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
   height: 600px;
   overflow-y: scroll;
   overflow-x: hidden;
   scroll-behavior: smooth;

 }
 .bookShelf > div {
  display: flex;
  gap: 10px;
  width: 375px;
  height: 320px;
  border-bottom: 2px solid var(--main-bg-color);
     
}
 .bookShelf > div img {
    width: 150px;
    height: 200px;
    border-radius: 6px;
 }

 .bookInfoDiv ul{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
 }
 .bookInfo {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 /* ------ BOKHYLLAN ------ */
 .book {
  position: absolute;
  bottom: -10px;
  left: 30px;
  width: 90px;
  height: 125px;
  background-color: var(--main-content-bg);
  box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 50%);
}
.book:nth-child(2){
  left: 150px;
}
.book:nth-child(3){
 left: 270px; 
}

.shelf {
  position: relative;
  width: 390px;
  border-bottom: 13px solid #e4b78b;
  text-align: center;
  padding: 0 27px;
  margin: 150px auto;
  background: transparent;
}

.shelf:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 34px;
  height: 10px;
  background: transparent;
  -webkit-transform: perspective( 150 ) rotateX( -25deg );
  -moz-transform: perspective( 150 ) rotateX( -25deg );
  -ms-transform: perspective( 150 ) rotateX( -25deg );
  transform: perspective( 150 ) rotateX( -25deg );
  right: 34px;
  box-shadow: 0 0 17px 5px rgb(217, 200, 167);
  z-index: -1;
}

.shelf > div {
  border-bottom: 23px solid #CD853F;
  position: relative;
  z-index: 1;
}

.shelf > div:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 23px 27px;
  border-color: transparent transparent #CD853F transparent;
  position: absolute;
  bottom: -23px;
  left: -27px;
  z-index: 2;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}
    
.shelf > div:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 23px 0 0 27px;
  border-color: transparent transparent transparent #CD853F;
  position: absolute;
  bottom: -23px;
  right: -27px;
  z-index: 2;
}

  /* ------------------- MAIN-CONTENT profile ------------------- */
  
.main-profile-content {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--main-content-bg);
    height: 75vh;
    border-radius: 40px;
    box-shadow: 0 0 30px 1px var(--main-content-shadow-color);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;  
 }
.profileInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

}
.profile-one {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 10px;
  width: 100%;
}
.profile-one .welcomeMessage {
  align-items: center;
}
.userInfo {
  margin-right: 20px;
  text-align: right;
}

.profile-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.profile-two h3 {
  margin-left: 20px;
}
.mySavedBooks {
  width: 100%;
}
.savedBooksDiv {
  display: flex;
  background-color: var(--main-bg-color); 
  margin: 10px 20px;
  justify-content: flex-start;
  border-radius: 6px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-height: 315px;
}
.savedBookDiv {
  position: relative;
  min-width: 150px;
  max-width: 175px;
  margin: 10px;
  padding: 10px;
  background-color: var(--main-content-bg);
  border-radius: 6px;
  text-align: center;
}
.savedTitle {
  font-size: 14px;
}
.myRatedBooks {
  display: flex;
  flex-direction: column;
}
.titleAndAuthor h3 {
  font-size: 16px;
}

/* ------------------- SCROLLBAR MAIN PROFILE ------------------- */

.main-profile-content::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

.main-profile-content::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-profile-content::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-darker-color);
  border-radius: 10px;
}

.main-profile-content::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-hover-color); 
}

/* ------------------- SCROLLBAR SAVEDBOOKS ------------------- */

.savedBooksDiv::-webkit-scrollbar {
  width: 100%;
  height: 7px;
}

.savedBooksDiv::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
}

.savedBooksDiv::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-darker-color);
  border-radius: 10px;
}

.savedBooksDiv::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-hover-color); 
}


  /* ------------------- TABLE - reviews -------------------*/
    
table, tbody, th {
      border-radius: 6px;
    }
table {
  border: 2px solid var(--main-bg-darker-color);
}
.ratingTable {
  background-color: var(--main-bg-color);
    margin: 10px 20px;
 }
 th {
  background-color: var(--main-bg-darker-color);
  padding: 8px;
  cursor: pointer;
 }
 th .fa-solid {
  transform: rotate(90deg);
  opacity: 0.75;
  font-size: 12px;
 }
 th:hover:not(:nth-child(1)) {
  background-color: var(--main-bg-color);
 }
 td img {
  width: 96px;
  height: 124px;
 }
 tr:nth-child(odd) {
  background-color: var(--main-content-bg);
 }

  
  /* ------------------- RATING-section ------------------- */
  .ratings {
    display: flex;
  }
  .ratings input {
    display: block;
    accent-color: var(--main-text-color);
    
  }
 
  .ratings label {
    text-align: center;
  }
  
  .ratings input[type="radio"] {
    /* display: none; */
  }

  .ratings label {
    display: inline-block;
    font-size: 14px;
    /* border: 1px solid #444;
    border-radius: 4px; */
  }


    .ratingDiv button {
    margin-top: 5px;
    padding: 2px 74px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-darker-color);
    border-radius: 15px;
    font-family: 'Gudea', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 2px 1px rgb(227, 224, 224);
  }
  .ratingDiv button:hover {
    background-color: var(--main-button-hover);
  }
  .ratings p {
    margin: 0;
  }
  /* ----------- MESSAGE POP UP MODAL ---------- */

  .message-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    border-radius: 12px;
    z-index: 9999;
  }

/* ------------------- FOOTER -------------------*/
  footer {
    /* background-color: #F2E5D0; */
    height: 150px;
}

/* ------------------- MEDIA QUERIES -------------- */

/* För skärmstorlek på 1024px och uppåt */

@media (min-width: 1024px) {

}

/* För skärmstorlekar på 1024px och mindre, dvs mobil */ 
@media (max-width: 1024px) {
  .main-content,
  .main-profile-content {
    margin: 0 50px;
  }
  .navbar {
    margin-left: 75px;
    margin-right: 75px;
  }
}

/* För skärmstorlekar på 880px och mindre, dvs mobil */ 
@media (max-width: 880px) {
  .highestRatedBooks {
    display: none;
  }
  .loginOrRegister {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  .welcome-content {
    margin-top: 30px;
    height: 250px;
  }
  .profileInfoDiv {
    margin-top: 30px;
  }
  .profile-one {
    justify-content: center;
  }
}

/* För skärmstorlekar på 800px och mindre, dvs mobil */ 
@media (max-width: 800px) {
  .welcome-content {
    flex-direction: column;
    align-items: center;
  }
  .welcomeMessage {
  text-align: center;
  padding-left: 0;
  }
 
 
  
}

/* För skärmstorlekar på 548px och mindre, dvs mobil */ 
@media (max-width: 548px) {
  
}

/* För skärmstorlekar på 490px och mindre, dvs mobil */ 
@media (max-width: 490px) {
  .bookShelf {
    height: 800px;
  }
  .bookShelf div {
    flex-direction: column;
    height: auto;
    width: 310px;
    margin-left: 5px;
    padding-bottom: 5px;
  }
  .welcome-content {
    width: 100%;
    /* height: 100px; */
  }
  .loginOrRegister {
    padding-inline-start: 10px;
    justify-content: flex-start;
  }

  .ratings {
  display: block;
  }
  .navSpan span {
    display: none;
  }

}

.hidden {
  display: none;
}