:root {
    --main-bg-color: #F2E5D0;
    --main-content-bg: #F3EDE9;
    --main-text-color: #000000;
    --main-content-shadow-color: #dfd0b8;
    --main-button-color: #c2d6c7;
    --nav-bar-items: ;
    --shelf: ;
    --shelf-div: ;
    --a-link-text-color: ;
}